@media screen and (max-width: 720px) {
    /*----- Global Page Mobile -----*/
    .guest_warning {
        flex-direction: column;
    }

    .guest_warning span {
        padding: 0px 20px;
        text-align: justify;
    }

    .comment {
        padding: 8px;
    }

    .pagination {
        justify-content: flex-start;
        flex-wrap: wrap;
        font-size: 10px;
        margin: 10px auto;
    }

    .page-link {
        padding: 6px 8px;
    }

    .confession_comment_warning_mobile_tooltip_text {
        left: -40px !important;
    }

    .confession_comment_warning_mobile_tooltip_text::after {
        left: 92% !important;
    }

    /*----- Page Register Warning -----*/
    .warning {
        width: 90%;
        font-size: 14px;
        margin: 20px auto;
        padding: 10px;
    }

    /*-----Page Header Mobile-----*/
    .page_header {
        justify-content: left;
        height: 50px;
        position: relative;
    }

    .page_header_logo img {
        margin-left: 10px;
        width: 130px;
    }

    .page_header_menu {
        display: none;
    }

    .register_button {
        width: 105px;
        margin-left: 8px;
        border-radius: 2px;
    }

    .notifications_mobile_div {
        display: flex !important;
    }

    .page_header_notifications_div {
        display: none !important;
    }

    .page_header_notifications_bottom {
        width: 96%;
        height: 90%;
        position: fixed !important;
        left: 2%;
        bottom: 50px;
        top: auto;
        z-index: 999;
    }

    .page_header_notifications_div:hover .page_header_notifications_count::after {
        visibility: visible;
        opacity: 1;
        top: 17px;
    }

    .page_header_notifications_bottom .page_header_notifications_ul {
        width: 100%;
        height: 90% !important;
        margin-top: 0px;
    }

    /*-----Page Left Menu Mobile----*/
    .page_left_menu_profile {
        display: none !important;
    }

    .page_left_menu_footer {
        display: none;
    }

    .fa-bars {
        visibility: visible;
        margin-right: 20px;
        margin-top: 17px;
        color: #4e4e4e;
    }

    .page_bottom_content {
        flex-direction: column;
    }

    .page_left_menu {
        border: 0px;
        width: 100%;
        height: 50px;
        margin: 0px 0px 20px 0px;
        top: 0px;
        padding: 0px;
        position: sticky;
        position: -webkit-sticky;
        background-color: #F8F8F8;
        border-bottom: 1px solid #ededed;
    }

    .page_left_menu_content {
        width: 100%;
        top: 0px;
        margin-bottom: 0px;
        position: relative;
    }

    .page_left_menu ul {
        display: flex;
        overflow-x: auto;
        margin-top: 0px;
        justify-content: flex-start;
        align-content: flex-start;
        font-size: 14px;
        padding-bottom: 10px;
    }

    .page_left_menu_content ul a {
        padding: 5px;
        margin-top: 5px;
    }

    .page_left_menu_content ul a li {
        justify-content: center;
        align-content: center;
        padding: 8px 7px;
        width: 160px;
        text-align: center;
        margin: 0px 4px 0px 4px;
    }

    .page_left_menu ul a li span {
        margin-left: 0px;
    }

    .page_left_menu_content ul a li i {
        margin: 0px;
        padding-right: 6px;
    }

    /*----- Page Content Mobile -----*/
    .page_content {
        width: 100%;
        margin-left: 0px;
    }

    /*----- Footer Mobile -----*/
    footer {
        display: none;
    }

    /*----- Mobile Bottom Menu -----*/
    .mobile_bottom_menu {
        display: flex;
    }

    .mobile_bottom_menu_bg {
        display: block;
    }

    .mobile_bottom_menu_bg {
        height: 40px;
    }

    /*----- Sign in Page Mobile -----*/
    .password_change_code_post_success {
        width: 90%;
        flex-direction: column;
    }

    .sign_in_content {
        width: 90%;
        margin-top: 40px;
        margin-bottom: 15px;
    }

    .register_content {
        width: 90%;
    }

    .register_and_sign_in_button {
        margin-left: auto;
        margin-right: auto;
        display: block;
        left: 0px;
    }

    /*-----  / Main  Page Mobile -----*/
    .main_page > .main_page_inner_left {
        width: 90%;
        margin: 0px auto;
    }

    .main_page_post_list > li > .top > .more {
        opacity: 1;
        transform: scale(1);
    }

    .main_page_post_list > li > .top > .more > i {
        background-color: transparent;
    }

    .main_page_post_list > li > .middle > .news > a > .image img {
        height: 200px;
    }

    .main_page_post_list > li > .middle > .news > a > .image > .information {
        font-size: 10px;
        justify-content: space-between;
    }

    .main_page_post_list > li > .middle > .news > a > .image > .information > div {
        margin-right: 0px;
    }

    .main_page_post_list > li > .bottom > .action_buttons > div > .post_share_menu {
        right: -40px;
        top: 50px;
        z-index: 2;
    }

    .main_page_post_list > li > .bottom > .action_buttons > div > .post_share_menu:before {
        border-right-color: transparent;
    }

    .main_page_post_create > .create_buttons {
        justify-content: space-around;
        flex-wrap: wrap;
    }


    .main_page_post_create > .create_buttons > div {
        width: 45%;
        margin-top: 6px;
        text-align: center;
    }

    .main_page_post_create > .create_buttons > .discussion {
        background-color: #f2faff;
    }

    .main_page_post_create > .create_buttons > .announcement {
        background-color: #f2f2f2;
    }

    .main_page_post_create > .create_buttons > .event {
        background-color: #f2fff5;
    }

    .main_page_post_create > .create_buttons > .confession {
        background-color: #ffebeb;
    }


    /*-----  /iletisim  Page Mobile -----*/
    .contact .contact_title {
        text-align: center;
    }


    /*----- /tartismalar Page Mobile -----*/
    .new_discussion_button {
        display: none;
    }

    .discussion_new {
        width: 90%;
    }

    .new_discussion_button_mobile {
        display: block;
    }

    .discussion_ul li {
        width: 90%;
        margin: 20px auto;
        flex-direction: column;
        border-color: #eeeeee;
    }

    .discussion_ul .content {
        width: 100%;
        padding: 10px;
    }

    .discussion_ul .content .discussion_title {
        font-size: 14px;
    }

    .discussion_ul .content .discussion_content {
        font-size: 12px;
    }

    .discussion_ul .img_div {
        width: 100%;
        justify-content: start;
        padding: 8px 8px 0px 8px;
    }

    .mobile_discussion_name, .mobile_discussion_time_posted, .mobile_discussion_comments_information {
        display: block;
    }

    .discussion_ul .content .discussion_information, .discussion_ul .content_2 {
        display: none;
    }

    .discussion_paginate {
        width: 90%;
        margin: 0px auto;
    }

    /*----- /tartismalar/{slug} Page Mobile -----*/
    .discussion_back_button {
        font-size: 12px;
    }

    .discussion_in_page_ul > li {
        width: 90%;
        margin: 10px auto !important;
    }

    .discussion_in_page_content .discussion_in_page_information > .discussion_in_page_information_time {
        margin-left: 7px;
    }

    .discussion_in_page_content .discussion_in_page_information > a {
        font-size: 12px;
    }

    .discussion_in_page_content .discussion_in_page_title {
        font-size: 15px;
        margin-top: 5px;
    }

    .discussion_in_page_content .discussion_in_page_subject {
        font-size: 13px;
        margin-top: 5px;
    }

    .discussion_in_page_information_comments, .discussion_in_page_information_time {
        font-size: 11px;

    }

    /*----- /ayarlar Page Mobile -----*/
    .settings_container {
        flex-direction: column;
        margin: 10px 0px;
    }

    .settings_contain {
        width: 95%;
        margin: auto;
    }

    .settings_left {
        width: 100%;
    }

    .settings_left ul {
        display: flex;
        justify-content: space-around;
        margin: 10px 0px;
        background-color: transparent;
        border: 0px;
        box-shadow: 0px 0px 0px 0px;
    }

    .settings_left ul li {
        font-size: 14px;
        margin: 0px;
    }

    .settings_left ul li i {
        display: none;
    }

    /*----- /ayarlar/hesap Page Mobile -----*/
    .account_settings_ul {
        padding: 5px 20px 5px 20px;
    }

    .account_settings_ul li {
        flex-direction: column;
        position: relative;
    }

    .account_settings_ul li .account_image {
        margin-left: 0px;
        margin-top: 5px;
        top: 10px;
        position: relative;
    }

    .account_settings_ul li .file_image {
        position: relative;
        left: 110px;
        bottom: 60px;
        align-self: flex-start;
    }

    .account_settings_ul li .file_image_mobile_warning {
        display: block;
    }

    .account_settings_ul li input, .account_settings_ul li textarea {
        width: 80%;
        margin-top: 3px;
    }

    .account_settings_ul li .input_mail_div {
        width: 100%;
    }

    /*----- /ayarlar/sifre Page Mobile -----*/
    .password_settings ul {
        padding: 0px;
    }

    .password_settings ul li {
        flex-direction: column;
    }

    .password_settings ul li input {
        width: 250px;
        margin: 10px 10px;
    }

    .password_settings ul li .password_title {
        margin-left: 10px;
    }

    /*----- /ayarlar/bildirimler Page Mobile -----*/
    .notifications_ul li {
        margin-left: 7px;
    }

    /*----- /duyuru-haber/ and /etkinlik/ Pages Mobile    (max-width:950px) -----*/
    /*----- /duyuru-haber/{slug} and /etkinlik/{slug} Pages Mobile -----*/
    .global_events_ın_page {
        padding: 10px;
    }

    .global_events_comments_title {
        font-size: 18px;
    }

    .global_events_in_page_back_button {
        font-size: 12px;
        padding: 5px;
    }

    .global_events_ın_page_information {
        font-size: 10px !important;
        display: flex !important;
        justify-content: space-around !important;
    }

    .global_events_ın_page_information div:not(:first-child) {
        margin-left: 0px !important;
    }

    .global_events_ın_page_title {
        font-size: 18px !important;
    }

    .global_events_ın_page_text {
        font-size: 14px !important;
    }

    .global_events_ın_page_top {
        margin-top: 40px;
    }

    .global_events_images img {
        flex: 100%;
        max-width: 100%;
        margin: 10px auto 10px auto !important;

    }

    /*----- /etkinlik/{slug} Page Mobile -----*/
    .events_in_page_top {
        position: relative;
    }

    .events_in_page_top > .title {
        font-size: 20px;
        text-align: center;
    }

    .events_in_page_top > .information {
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: 0px;
    }

    .events_in_page_top > .information > div {
        font-size: 10px;
        display: flex;
        justify-content: center;
        width: 50%;
        margin: 5px 0px;
    }

    .events_in_page_top > .information > div > a {
        display: flex;
        justify-content: flex-start;
    }

    .events_in_page_top > .information > div i {
        display: block;
        margin-right: 4px;
    }


    /*-----  club_popup  Mobile -----*/
    .club_global_popup {
        width: 90%;
    }

    .club_members_settings_ul li input {
        width: 130px;
    }

    .club_members_settings_ul li select {
        width: 130px;
    }

    .club_global_popup_ul li input, .club_global_popup_ul li textarea {
        width: 100% !important;
    }

    /*-----  /kulüpler Page Mobile -----*/
    .club_list_paginate {
        width: 90%;
        margin: 0px auto;
    }

    .club_search_input {
        display: none;
    }

    .mobile_club_search {
        display: block;
    }

    .not_search_club {
        margin-top: 15px;
        font-size: 14px;
    }

    .club_list_ul {
        justify-content: center;
    }

    .club_list_ul a {
        margin: 0px;
        flex: 90%;
        max-width: 90%;
    }

    .club_list_ul a li {
        padding: 7px;
        margin-top: 10px;
    }

    .club_list_ul a li img {
        width: 35px;
        height: 35px;
    }

    .club_list_ul a li .club_list_ul_club_name {
        font-size: 13px;
    }

    .club_new_button {
        margin-right: 0px;
        font-size: 12px;
    }

    .new_club_form {
        width: 90%;
    }

    .new_club_ul {

    }

    .new_club_ul li {
        flex-direction: column;
    }

    .new_club_ul li input {
        align-self: flex-start;
        margin-left: 20px;
        margin-top: 5px;
    }

    .new_club_ul li label {
        width: 90px;
        margin-left: 20px;
        margin-top: 5px;
    }

    .new_club_ul_image_label_selected {
        width: 140px !important;
    }

    /*----- /kulupler/{slug} Global Page Mobile -----*/
    .club_ın_page_background, .club_ın_page_background img {
        height: 180px;
    }

    .club_ın_page_background_bottom .club_ın_page_logo {
        margin-left: auto;
        margin-right: auto;
        bottom: -75px;
        left: 0px;
        right: 0px;
        width: 110px;
    }

    .club_ın_page_background_bottom .club_ın_page_logo img {
        width: 110px;
        height: 110px;
    }

    .club_ın_page_bottom_contain {
        flex-direction: column;
        padding: 7px;
    }

    .club_ın_page_bottom_contain_left_menu {
        width: 100%;
        margin-top: -30px;
        margin-bottom: 0px;
    }


    .club_ın_page_bottom_contain_content {
        padding: 0px;
        margin: 10px auto 0px auto;
    }

    .club_ın_page_bottom_contain_content_header {
        width: 90%;
        margin: 10px auto 25px auto;
    }

    .club_ın_page_bottom_contain_content_header .club_ın_page_bottom_contain_content_header_title {
        font-size: 19px;
        padding-left: 10px;
    }

    .club_ın_page_bottom_contain_left_menu > .left_menu_container {
        width: 100%;
        position: relative;
        top: 0px;
        margin-top: 110px;
    }

    .left_menu_container > .information {
        display: none;
    }

    .left_menu_container > .name {
        font-size: 20px;
    }

    .club_in_page_links {
        margin-top: 30px;
        overflow-x: auto;
        justify-content: flex-start;
        padding-bottom: 5px;
    }

    .club_in_page_links > a {
        font-size: 12px;
    }

    .club_global_events_paginate {
        width: 90%;
        margin: 0px auto;
    }

    /*----- /kulupler/{slug}/duyuru-haber Global Page Mobile -----*/
    .global_events_ul li .global_events_contain .global_events_settings ul li {
        font-size: 9px;
    }

    .club_ın_page_bottom_contain_content_header .club_new_announcements_news_button {
        font-size: 12px;
        padding: 5px 10px;
    }

    /*----- /kulupler/{slug}/ Page Mobile -----*/
    .club_ın_page_intro {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        word-spacing: 2px;
        line-height: 23px;
        text-align: justify;
    }
    .club_ın_page_intro > .not_intro{
        justify-content: center;
    }

    /*----- /kulupler/{slug}/uyeler  Page Mobile -----*/
    .club_ın_page_bottom_contain_content_header .club_ın_page_bottom_contain_content_header_title span {
        font-size: 11px;
    }

    .club_ın_page_bottom_contain_content_inner .club_ın_page_bottom_contain_content_inner_club_member_search input {
        width: 100px;
        font-size: 12px;
    }

    /*Popup*/
    /*----- /kulupler/{slug}/uyeler New Member Popup  Page Mobile -----*/
    .new_member_invitation_ul li a {
        font-size: 11px;
        width: 100px;
    }

    .new_member_invitation_ul li .new_member_invitation_date {
        margin-left: 0px;
        font-size: 10px;
    }

    .new_member_invitation_ul li .new_member_invitation_buttons button {
        font-size: 11px;
    }

    /*----- kulupler/{slug}/uyeler Page Mobile -----*/
    .transfer_president {
        padding: 5px 10px;
        font-size: 12px;
        margin-right: 15px;
    }

    .club_members {
        width: 90%;
        margin: 0px auto;
    }

    .club_members > li > .club_members_list {
        justify-content: space-between;
        gap: 15px;
    }

    .club_members_list > li {
        width: 45%;
        padding: 5px;
    }

    .club_members_list > li > a > img {
        width: 50px;
        height: 50px;
    }

    .club_members_list > li > .name {
        font-size: 13px;
    }

    .club_members_list > li > .username > a {
        font-size: 11px;
    }

    .club_members_list > li > .club_member_setting {
        opacity: 1;
    }

    /*----- /kulupler/{slug}/ayarlar Mobile Page -----*/
    .club_settings_back {
        margin-left: 10px;
    }

    .club_settings_ul li .club_settings_ul_title {
        width: 95%;
    }

    .club_settings_ul_content {
        width: 95%;
    }

    .club_settings_ul_content > li {
        flex-direction: column;
    }

    .club_settings_ul_social_media_ul .club_settings_ul_content_inner_social_media > span i {
        left: 175px;
    }

    /*----- /gruplar Mobile Page -----*/
    .group > .mobile_animate {
        display: block;
    }

    .group > .desktop_animate {
        display: none;
    }


    /*----- /itiraflar Mobile Page -----*/
    /*New Confession Popup*/
    .confession_new {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .confession_new > ul > .anonymous_settings > form > .content {
        flex-direction: column;
        align-content: flex-start;
    }

    .confession_new > ul > .anonymous_settings > form > .content > input[name='username'] {
        margin-top: 5px;
    }

    .confession_new > ul > .anonymous_settings > form > .content > .buttons {
        margin-top: 20px;
    }

    /**/
    .page_content_header {
        width: 90%;
        margin: auto;
    }

    .confession_paginate {
        width: 90%;
        margin: 0px auto;
    }

    .confessions_ul {
        width: 90%;
        margin: 20px auto;
    }

    .confessions_ul li .confessions_ul_content {
        font-size: 12px;
        text-align: justify;
    }

    /*----- /profil/{username} Mobile Page -----*/
    .profile_container {
        width: 95%;
        margin-top: 10px;
        box-shadow: 0 0px 0.7px rgba(0, 0, 0, 0.02),
        0 0px 1.8px rgba(0, 0, 0, 0.028),
        0 0px 3.4px rgba(0, 0, 0, 0.035),
        0 0px 6px rgba(0, 0, 0, 0.042),
        0 0px 11.3px rgba(0, 0, 0, 0.05),
        0 0px 27px rgba(0, 0, 0, 0.07);

    }

    .profile_container > .profile {
        height: 150px;
    }

    .profile_container > .profile > .information {
        bottom: -100px;
    }

    .profile_container > .profile > .information > img {
        width: 100px;
        height: 100px;
    }

    .profile_container > .profile > .information > .name {
        font-size: 21px;
    }

    .profile_container > .profile > .edit_profile {
        font-size: 12px;
        align-self: flex-start;
        margin: 10px 5px 5px auto;
    }

    .profile_container > .profile > .edit_profile > a {
        padding: 5px 10px;
    }

    .profile_container > .profile_information {
        width: 93%;
        padding: 15px;
        margin-top: 130px;
    }

    .profile_container > .profile_information > .links {
        font-size: 14px;
        justify-content: center;
    }

    .profile_container > .profile_information > .links > a {
        margin: 0px 6px;
        padding: 0px;
    }

    .profile_container > .profile_information > .links > .active_button {
        background-color: transparent;
        color: #056bab;
        border-radius: 0px;
    }

    .profile_information_content > .profile_about {
        font-size: 12px;
    }

    .profile_information_content > .profile_about > span {
        font-size: 11px;
    }

    .profile_clubs > li {
        width: 100%;
    }

    .profile_clubs > li > img {
        width: 30px;
        height: 30px;
    }

    .profile_clubs > li > .club_name {
        font-size: 12px;
    }

    .profile_clubs > li > .authorization {
        font-size: 11px;
    }

    .profile_last_discussion > li > a {
        flex-direction: column;
        padding: 8px;
        align-items: flex-start;
    }

    .profile_last_discussion > li > a > .title {
        width: 100%;
        font-size: 12px;
    }

    .profile_last_discussion > li > a > .discussion_info {
        width: 100%;
        margin-top: 10px;
        justify-content: flex-end;
    }

    .profile_last_discussion > li > a > .discussion_info div {
        margin: 0px 10px;
        font-size: 10px;
    }

    /**/
    .profile_container {
        flex-direction: column;
    }

    .profile_container .profile_left {
        width: 95%;
        margin: 0px auto;
    }

    .profile_left_top {
        justify-content: center;
    }

    .profile_left_top img {
        width: 90px;
    }

    .profile_container .profile_right {
        width: 95%;
        margin: 10px auto 0px auto;
    }

    /*----- /ders-notlari Mobile Page -----*/
    .lesson_notes_job_header {
        width: 90%;
        margin: 0px auto;
    }

    .lesson_notes_job_ul {
        width: 90%;
        margin: 0px auto;
    }

    .lesson_notes_job_ul > a {
        margin: 4px 0px;
    }

    .lesson_notes_job_ul li {
        margin: 5px 0px;
        box-shadow: none;
    }

    .lesson_notes_job_ul li .lesson_notes_job_ul_name {
        padding: 5px 15px 5px 5px;
        font-size: 11px;
        width: 60%;
    }

    .lesson_notes_job_ul li .lesson_notes_job_ul_school {
        width: 40%;
    }

    .lesson_notes_job_ul li .lesson_notes_job_ul_school > .name {
        font-size: 8px;
    }

    .lesson_notes_paginate {
        width: 90%;
        margin: 0px auto;
    }

    /*----- /ders-notlari/{slug} Mobile Page -----*/
    .new_lesson_notes {
        width: 90%;
    }

    .lesson_notes_job_header {
        border-bottom: 0px;
    }

    .lesson_notes_download_container {
        padding: 10px;
    }

    .lesson_notes_download > .title {
        width: 100%;
        text-align: center;
    }

    .lesson_notes_download_ul {
        justify-content: center;
    }

    .lesson_notes_download_ul li {
        margin: 10px;
        width: 120px;
        height: 120px;
    }

    .lesson_notes_download_ul li > .lesson_name {
        font-size: 13px;
        text-align: center;
    }

    .lesson_notes_download_ul li > .lesson_information {
        font-size: 10px;
    }

    .lesson_notes_download_ul li > .lesson_download {
        padding: 4px;
        font-size: 11px;
    }

    /*----- /yardim-destek Mobile Page -----*/
    .help_container {
        width: 95%;
    }

    .help {
        margin-top: 5px;
        padding: 5px 0px;
    }

    .help > ul {
        padding: 0px 5px;
    }

    .help > ul > li {
        margin-top: 20px;
    }

    .help > ul > li > .title {
        text-align: center;
    }

    .help > ul > li > .help_list {
        flex-direction: column;
        align-items: center;
    }

    .help_list > li {
        width: 60%;
        margin: 15px 0px;
    }

    .help > ul > li > .ask_us {
        width: 90%;
        margin: auto;
    }

    .ask_us > li > form > .form_bottom > input {
        width: 170px;
    }

    .help > .help_detail > .title {
        text-align: center;
    }

    .help > .help_detail > li > .step_list {
        padding: 5px 10px;
    }

    /*----- /hizmet-kosullari Mobile Page -----*/
    .terms_container {
        width: 95%;
    }

}

@media screen and (max-width: 950px) {
    /*----- /duyuru-haber and /etkinlik Pages Mobile -----*/
    .global_events_ul {
        width: 90%;
        margin: 0px auto;
    }

    .global_events_ul > .no_sharing{
        justify-content: center;
    }

    .global_events_ul .global_events_image {
        text-align: center;
    }

    .global_events_ul .global_events_image img {
        width: 100px !important;
    }

    .global_events_ul li .global_events_contain {
        width: 80%;
        justify-content: flex-start;
        padding: 2px 5px 5px 5px;
    }

    .mobile_global_information {
        display: flex;
        color: #5f5f5f;
        font-family: 'Montserrat', sans-serif;
        font-size: 9px;
    }

    .mobile_global_information > div, .mobile_global_information > div > a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mobile_global_information a {
        color: #5f5f5f;
    }

    .mobile_global_information div:not(:first-child) {
        margin-left: 8px;
    }

    .global_events_ul li .global_events_contain .global_events_title {
        font-size: 12px;
        margin-top: 4px;
    }

    .global_events_ul li .global_events_contain .global_events_text {
        display: none;
    }

    .global_events_ul li .global_events_contain .global_events_information_2 {
        display: none;
    }

    .global_events_ul li .global_events_contain .global_events_information {
        display: none;
    }


    /*----- /etkinlik Pages Mobile -----*/
    .event_container > .event_ul {
        width: 100%;
        padding: 0px 20px;
    }

    .event_container > .event_club_ul {
        display: none;
    }

    .event_ul > li {
        margin-bottom: 30px;
    }

    .event_ul > li > .event_detail_ul {
        display: none;
    }

    .event_information_ul > .title {
        font-size: 17px;
    }

    .event_information_ul > .information > div {
        margin-right: 15px;
        font-size: 10px;
    }

    .event_information_ul > .remaining_time {
        font-size: 11px;
        margin-top: 25px;
    }

    .event_information_ul > .event_settings_mobile {
        display: block;
    }

    .event_information_ul > .events_settings {
        display: none;
    }

    .close_activity {
        font-size: 11px;
    }


    /*----- kulupler/{slug}/uyeler Page Mobile -----*/
    .club_members_list > li {
        width: 45%;
    }

    /*----- /kuluplerim Mobile Page -----*/
    .my_clubs {
        width: 95%;
    }

    .my_clubs > .my_clubs_list {
        padding: 10px;
        flex-direction: column;
    }

    .my_clubs_list > li {
        width: 100%;
        margin: 10px 0px;
    }

    .my_clubs_list > li > .club_text > .name > a {
        font-size: 12px;
    }

    /*
    .my_clubs_list > li > .club_exit {
        background-color: #ffe9e9;
    }*/
    .my_clubs_list > li > .club_exit > span {
        display: none;
    }
}

@media screen and (min-width: 1390px) {
    .warning {
        margin: 0px 0px;
    }
}
